## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [240]:
import pandas as pd
import numpy as np 

df = pd.read_csv('Resources/client_dataset.csv',encoding="ISO-8859-1")
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5

In [241]:
# View the column names in the data

df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [242]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [243]:
# Use this space to do any additional research
# and familiarize yourself with the data.

In [244]:
# What three item categories had the most entries?
# used chatGPT

top_three_categories = df["category"].value_counts().head(3)
top_three_categories

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [245]:
# For the category with the most entries,
# which subcategory had the most entries?
# used chatgpt

top_subcategory_df = df['subcategory'].value_counts()
top_subcategory_df[0:1]

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [246]:
# Which five clients had the most entries in the data?

top_five_clients_df = df["client_id"].value_counts()
top_five_clients_df[0:5]

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [247]:
# Store the client ids of those top 5 clients in a list.

top_five_clients_list = top_five_clients_df.index.tolist()
top_five_clients_list[0:5]

[33615, 66037, 46820, 38378, 24741]

In [248]:
# How many total units (the qty column) did the
# client with the most entries order order?

total_units = sum(df.loc[df['client_id'] == top_five_clients_list[0]]['qty'])
total_units

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [249]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty

df['line_subtotal'] = df['unit_price']*df['qty']
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00

In [250]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.

df['total_weight'] = df['unit_weight']*df['qty']

def calculate_shipping_price(total_weight):
    if total_weight > 50:
        return total_weight * 7
    else:
        return total_weight * 10

df['shipping_Price'] = df['total_weight'].apply(calculate_shipping_price)

df[0:3]

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping_Price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,consumables,pens,24.95,15.09,1.49,21,0,523.95,31.29,312.90
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,software,project management,13.52,7.86,1.68,39,6,527.28,65.52,458.64

In [251]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%

def calculate_line_price(line_subtotal, shipping_price):
    return (line_subtotal + shipping_price) * 1.0925
df['line_price'] = df.apply(lambda x: calculate_total_price(x['line_subtotal'], x['shipping_Price']), axis=1).round(2)
df[0:3]

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping_Price,line_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,wall art,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,pens,24.95,15.09,1.49,21,0,523.95,31.29,312.90,914.26
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,project management,13.52,7.86,1.68,39,6,527.28,65.52,458.64,1077.12

In [252]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).

def calculate_line_cost(unit_cost, qty, shipping_price):
    return (unit_cost * qty) + shipping_price
df['line_cost'] = df.apply(lambda x: calculate_line_cost(x['unit_cost'], x['qty'], x['shipping_Price']), axis=1).round(2)

df[0:3]

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping_Price,line_price,line_cost
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08,85597.05
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,31.29,312.90,914.26,629.79
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,65.52,458.64,1077.12,765.18

In [253]:
# Create a column for the profit of
# each line using line cost and line price

df['line_profit'] = df['line_price'] - df['line_cost']
df[0:3]

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping_Price,line_price,line_cost,line_profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08,85597.05,46242.03
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,15.09,1.49,21,0,523.95,31.29,312.90,914.26,629.79,284.47
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,7.86,1.68,39,6,527.28,65.52,458.64,1077.12,765.18,311.94

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [254]:
# Check your work using the totals above
# to make sure they match.

# Total price by customer_id
df['order_id'].tolist()

[8953482,
 8069089,
 1902144,
 9031802,
 1322274,
 1327730,
 8080280,
 8946782,
 9394118,
 9665852,
 5775924,
 2859900,
 6059361,
 3470698,
 5953045,
 5014569,
 2101230,
 4397711,
 6832072,
 7573941,
 7490302,
 5020751,
 3401371,
 6512694,
 6024379,
 9362283,
 8668707,
 5175749,
 8026387,
 1940019,
 3052159,
 7323275,
 4657177,
 6155436,
 9311270,
 4178798,
 8688413,
 5300796,
 9611044,
 7012133,
 3735477,
 8882115,
 1035406,
 4765519,
 3117013,
 8286486,
 4950072,
 9662359,
 8286486,
 9585312,
 6861013,
 3329651,
 6174735,
 2857192,
 8603161,
 6626275,
 4771221,
 2482488,
 1387106,
 9476526,
 6588913,
 5203781,
 8527601,
 9644318,
 3381275,
 6063320,
 5202406,
 4264320,
 2127882,
 5518899,
 7658522,
 8766547,
 1155527,
 1440330,
 8316396,
 6008883,
 8069588,
 2052372,
 8765049,
 4582776,
 5736615,
 4962401,
 1318745,
 8515697,
 4602169,
 2522202,
 6761919,
 2667385,
 8386735,
 4991167,
 8468237,
 2901241,
 8426913,
 6822189,
 6977492,
 3998530,
 8126485,
 2164235,
 7777768,
 7272566,
 2542733,
 1497881,
 9461732,
 6244196,
 1820335,
 7241410,
 3048979,
 4733553,
 5497359,
 7561605,
 1720923,
 8599970,
 6588913,
 9299352,
 6810506,
 1261277,
 5298441,
 2332622,
 5741617,
 5422023,
 5493117,
 7403855,
 4877044,
 2074963,
 5623031,
 1638992,
 3880150,
 7210789,
 2597177,
 5014231,
 5440266,
 3329651,
 5680571,
 7527039,
 7882542,
 3439695,
 4551002,
 7109502,
 2116173,
 1242884,
 9549162,
 4221527,
 3682753,
 7465192,
 3150312,
 8442621,
 8498295,
 1911473,
 3718143,
 8574064,
 7622133,
 6821353,
 6222608,
 3695995,
 1045915,
 2292600,
 8256873,
 7689505,
 5226670,
 5443100,
 8946816,
 2661332,
 3807866,
 1602445,
 6517300,
 6484914,
 7026061,
 7055942,
 1067528,
 2155630,
 2489799,
 1448458,
 1607067,
 5103844,
 4198823,
 8323312,
 9040159,
 8987881,
 9763007,
 5953410,
 8634847,
 6254095,
 6440404,
 7232107,
 8208976,
 3023888,
 4636437,
 1211108,
 4055228,
 1678306,
 3698836,
 9458798,
 1661817,
 6569656,
 5469225,
 9925831,
 7904587,
 5826789,
 1081517,
 2542733,
 6300019,
 8921228,
 3735477,
 4268536,
 2098575,
 9696129,
 3800115,
 5459689,
 4453021,
 3467682,
 5146116,
 5897991,
 5355817,
 8026387,
 8967498,
 2752107,
 1203693,
 2154035,
 5742897,
 6672644,
 6473704,
 7501291,
 1299433,
 1524946,
 5509637,
 3294118,
 2980786,
 2287212,
 2061378,
 3807030,
 1931456,
 7699284,
 8521738,
 1323331,
 5904446,
 7438926,
 8226650,
 1693991,
 1448458,
 6098084,
 7753243,
 2747597,
 3561244,
 2101840,
 5240196,
 7302106,
 7389763,
 5332121,
 6797200,
 5873257,
 8420525,
 8483102,
 8444509,
 6104458,
 2635892,
 9680942,
 7383478,
 3058048,
 3598615,
 1417094,
 7324969,
 6523561,
 9509662,
 7904772,
 2443463,
 8688231,
 4590311,
 2906329,
 6038136,
 1135441,
 8112024,
 6008180,
 6182829,
 4677030,
 4981356,
 6273849,
 7565193,
 1709429,
 1435514,
 3841311,
 2231441,
 2254571,
 2347441,
 2676534,
 1916169,
 4573298,
 2551395,
 6010182,
 1558242,
 4551002,
 2982625,
 8338758,
 5861642,
 7360339,
 6030869,
 5592718,
 8831083,
 7167869,
 8164394,
 5379137,
 5253565,
 5613021,
 6624019,
 4795720,
 8358762,
 9950696,
 3443266,
 5147158,
 6080814,
 1902766,
 8465658,
 2515818,
 7593857,
 6432494,
 7458535,
 1816324,
 1271801,
 8159112,
 1665744,
 4757889,
 9674567,
 1097098,
 7439475,
 8557130,
 1945606,
 3388565,
 6476490,
 3662521,
 6058033,
 8242992,
 8793764,
 6241667,
 3928914,
 8575006,
 6526215,
 2002680,
 3048977,
 8653649,
 5057185,
 2435322,
 1215282,
 8589399,
 3418073,
 6833300,
 2815530,
 4582776,
 5819867,
 2694379,
 8878842,
 3311046,
 8187124,
 1892687,
 9324422,
 2859900,
 5400842,
 5602580,
 8573275,
 6725105,
 6992895,
 9919180,
 2505307,
 6830579,
 6182829,
 6341453,
 8239564,
 6855683,
 5088273,
 8814753,
 4778646,
 4235820,
 7968134,
 3323518,
 5922448,
 2918318,
 6610950,
 7598919,
 5014393,
 8610980,
 3818696,
 4860223,
 1431966,
 4167189,
 8367253,
 8008616,
 5727646,
 6434282,
 5215889,
 3542688,
 9946175,
 1387106,
 3148334,
 3144710,
 3853180,
 1833621,
 2996146,
 3655309,
 4927047,
 1033901,
 7219892,
 8878455,
 1552609,
 8559268,
 3501569,
 5671655,
 2795427,
 1549437,
 8702141,
 9611295,
 8216205,
 2502375,
 5362196,
 8413627,
 1783894,
 6516329,
 3965033,
 5487639,
 3699423,
 5270459,
 3054934,
 1783337,
 9457353,
 1429007,
 6815301,
 8085194,
 7396148,
 8614151,
 2036498,
 2634430,
 2091903,
 2064320,
 3866774,
 8899718,
 3860093,
 2047595,
 7194081,
 3776801,
 3213631,
 9276738,
 1861543,
 9710667,
 6175632,
 8906773,
 1798879,
 9036236,
 7175424,
 5251063,
 2196215,
 4941527,
 5792829,
 5154330,
 2172766,
 7097951,
 7662594,
 4310944,
 4595579,
 5292783,
 8736201,
 9809530,
 7243855,
 5417024,
 6463394,
 8100006,
 8679687,
 2257084,
 5315552,
 1397935,
 4090559,
 5233858,
 3744951,
 7489403,
 8539164,
 2513475,
 7340567,
 2616545,
 8376501,
 4590080,
 2745659,
 7488319,
 2975103,
 6821940,
 9696129,
 3153787,
 9617664,
 2104946,
 7043334,
 8170014,
 2347441,
 8454985,
 3435780,
 3511157,
 6372518,
 3843383,
 8864179,
 3640598,
 6754575,
 6133849,
 6385189,
 8097774,
 6581657,
 5904645,
 3377088,
 6839593,
 5430447,
 9247544,
 1143158,
 5476825,
 3360462,
 4651132,
 3509655,
 6555776,
 8630361,
 3509655,
 5000003,
 5548640,
 9653938,
 1052783,
 1493061,
 9590607,
 8051855,
 7535836,
 7980819,
 3684416,
 6788468,
 1790807,
 5963868,
 9260800,
 2055371,
 5483138,
 2057636,
 7956369,
 7064539,
 9971698,
 2395273,
 7746788,
 4685930,
 5309902,
 3193784,
 8386964,
 1052783,
 5660985,
 7256364,
 9581992,
 7009212,
 3265410,
 5829878,
 5467398,
 6845126,
 1615610,
 5628929,
 7538423,
 5025711,
 6056205,
 8549860,
 1547129,
 5189227,
 7544242,
 4131675,
 1828899,
 6830579,
 8190522,
 8663367,
 4006519,
 4932958,
 9473452,
 9663364,
 9379492,
 3348249,
 7375334,
 1692776,
 9953490,
 3510801,
 1721933,
 2407344,
 3337619,
 5216049,
 6524045,
 9954107,
 7095790,
 7146362,
 6830438,
 7624665,
 8351487,
 1647642,
 3821827,
 7984419,
 5183538,
 8996052,
 8302229,
 8559279,
 9997244,
 9053740,
 1455492,
 1944312,
 5348073,
 5394978,
 5003461,
 7466302,
 2726995,
 8714730,
 6018313,
 2061378,
 1549362,
 5957321,
 5673159,
 2951852,
 8715182,
 4736951,
 2291736,
 6029956,
 7091784,
 6335865,
 5767646,
 3662521,
 9448843,
 3665116,
 4123427,
 5958991,
 4634937,
 3496019,
 2988366,
 5683027,
 7312442,
 1631407,
 9728808,
 6292160,
 1974737,
 8650230,
 2173913,
 4519161,
 4249342,
 7481845,
 8358842,
 9135078,
 9298070,
 1058198,
 1413750,
 5736615,
 3854223,
 6065791,
 4369203,
 3300817,
 4452948,
 8184928,
 4501418,
 5913928,
 7389821,
 1982987,
 3137140,
 7508032,
 3612885,
 2528740,
 7895352,
 3736727,
 2193341,
 8388082,
 8335216,
 8716072,
 5966483,
 9398113,
 4983960,
 8341687,
 5143371,
 6752766,
 1779088,
 9410347,
 8497133,
 9043780,
 3062392,
 6756774,
 6542356,
 5136606,
 9538464,
 4937937,
 4625640,
 8317027,
 3263138,
 2565223,
 9238900,
 6057452,
 3720071,
 8755082,
 6669949,
 4655054,
 5253565,
 9361523,
 6827450,
 9962313,
 8787551,
 6186033,
 2409867,
 8703679,
 5547536,
 3116466,
 4157645,
 5118274,
 9177100,
 1760453,
 9168407,
 8428913,
 9336774,
 8945031,
 2577603,
 3249893,
 6007730,
 8818087,
 9318478,
 1381486,
 9131561,
 1554588,
 3371852,
 1045511,
 5165484,
 4210540,
 1306365,
 4162873,
 8190856,
 5559695,
 1113199,
 7109816,
 6016284,
 8108797,
 6340625,
 5539247,
 3525861,
 7417275,
 7154120,
 9044445,
 4564572,
 8893424,
 4357135,
 9583806,
 2553914,
 9044215,
 9528412,
 8465434,
 3237326,
 6806557,
 8482947,
 2977120,
 7887697,
 7956977,
 8840054,
 9211572,
 1419921,
 2317804,
 7438979,
 3215653,
 2233028,
 5236827,
 5431088,
 6223950,
 7372342,
 7042694,
 3215653,
 7703621,
 8112130,
 6155213,
 1512901,
 7889276,
 6906458,
 9714759,
 8744185,
 6186033,
 5438387,
 8386129,
 1974737,
 6866667,
 2871205,
 9839477,
 5991852,
 4498365,
 8893424,
 4427319,
 9328267,
 2485681,
 5421691,
 7320120,
 2703455,
 8273730,
 8903448,
 7621755,
 7363673,
 1478713,
 9653301,
 5654812,
 3581501,
 3719335,
 3909417,
 9949922,
 8990814,
 8088721,
 8550792,
 3015075,
 3483146,
 2999950,
 8733540,
 6905842,
 1171036,
 3350005,
 5648180,
 3123588,
 5067149,
 2951243,
 8209670,
 8701261,
 1950238,
 2982567,
 3977673,
 1941028,
 9068088,
 2218871,
 3601132,
 4831489,
 6812640,
 8340850,
 9264252,
 7519355,
 1562352,
 8653555,
 1357266,
 7887697,
 5972162,
 4800995,
 3259012,
 3732449,
 1954224,
 5849131,
 3277639,
 2663770,
 1933764,
 9930493,
 6068184,
 8613033,
 3285709,
 8899634,
 6881490,
 5576638,
 8153964,
 2023751,
 8421189,
 1951089,
 4237718,
 8614151,
 9292036,
 3467682,
 4114620,
 9511052,
 8295947,
 2975879,
 7656661,
 7040492,
 2500966,
 1887052,
 5578304,
 7184155,
 4095113,
 9941573,
 7624087,
 9458907,
 9565338,
 1807544,
 4720766,
 4345052,
 1982987,
 9212405,
 8660262,
 7626453,
 2794965,
 1070088,
 5840324,
 5240914,
 4297480,
 2118797,
 3456049,
 3362016,
 2035340,
 1687945,
 4015852,
 9078948,
 1423831,
 3497401,
 2717382,
 8927230,
 4062976,
 7028675,
 6326175,
 3355023,
 2244293,
 1770358,
 3936857,
 8574064,
 8351487,
 4620797,
 6951840,
 4720766,
 9940689,
 7773005,
 2801895,
 3173199,
 3474152,
 4468605,
 8977475,
 2497516,
 4258046,
 5009534,
 6098034,
 1973297,
 1440717,
 7543827,
 7431234,
 3164347,
 1096173,
 6024379,
 4184678,
 2939833,
 8075473,
 1005142,
 2414048,
 5558151,
 5596319,
 7360344,
 5757608,
 1485167,
 3651741,
 3337619,
 9351029,
 3593359,
 9830229,
 1807630,
 2965865,
 4170447,
 8658231,
 8868658,
 9617664,
 4797884,
 4266375,
 2864285,
 8492318,
 4980917,
 8174925,
 4156782,
 8657626,
 2619801,
 5059604,
 9992232,
 8836500,
 3011426,
 3103431,
 7911264,
 3921140,
 6211637,
 2300921,
 5162846,
 6275458,
 8118436,
 5464728,
 5781572,
 3269701,
 4547569,
 3854223,
 5206601,
 6372093,
 9058772,
 4636986,
 6206340,
 6174735,
 2953555,
 9808708,
 3712496,
 8932553,
 7405332,
 5887908,
 3120287,
 3481012,
 3325994,
 9542959,
 8701261,
 4736951,
 5747256,
 9106948,
 3789342,
 1996994,
 5508026,
 1512655,
 2560227,
 4585214,
 8082922,
 8316714,
 8171594,
 7032929,
 3225183,
 6449978,
 9434355,
 7788799,
 6907436,
 5792495,
 3511275,
 2442915,
 4783919,
 9290642,
 ...]

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [255]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.

In [256]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

In [257]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

In [258]:
# Sort the updated data by "Total Profit" form highest to lowest